html {
  scroll-padding-top: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(223, 171, 75);
  z-index: 1 !important;
}

#logo-header {
  width: 4%;
  display: inline;
  margin-bottom: 0px;
  margin-left: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(107, 67, 15);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: #333;
  text-decoration: underline;
}

/*SECCION COUNTODWN*/

.container {
  margin-top: 80px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/ceramica-principal.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: rgb(223, 171, 75);
}

.countdown {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
}

.countdown div {
  display: grid;
  place-items: center;
  padding: 10px;
}

h1 {
  text-align: center;
  padding: 30px 10px;
}

p {
  display: grid;
  place-items: center;
  border: solid 1px #333;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: rgb(107, 67, 15);
}

span {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.mensaje-final {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  transform: translateY(-100%);
  transition: ease-in-out 0.5s;
  color: rgb(223, 171, 75);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/ceramica-principal.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mensaje-final h2 {
  text-align: center;
}
