html {
  scroll-padding-top: 70px;
}

.navbar {
  background-color: rgb(223, 171, 75);
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1 !important;
}

.navbar a {
  color: rgb(107, 67, 15);
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: #333;
  text-decoration: underline;
}

#logo-header {
  display: inline;
  margin-bottom: 0px;
  margin-left: 10px;
  width: 4%;
}

/*SECCION IMAGEN PRINCIPAL*/

body,
html {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/ceramica-principal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.hero-text {
  color: rgb(223, 171, 75);
  height: auto;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: rgb(223, 171, 75);
}

.arrows {
  bottom: 20px;
  height: 72px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  width: 60px;
}

.arrows path {
  animation: arrow 2s infinite;
  fill: transparent;
  stroke: rgb(107, 67, 15);
  stroke-width: 5px;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

/* SECCION PROYECTOS*/

#proyectos{
  background-color: rgb(185, 136, 71);
}

#proyectos h3{
  color: rgb(107, 67, 15);
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin-left: 60px;
  max-width: 300px;
  text-align: center;
  width: 100%;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  background-color: #000;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  outline: 0;
  padding: 8px;
  text-align: center;
  width: 100%;
}

a {
  color: black;
  font-size: 22px;
  text-decoration: none;
}

button:hover,
a:hover {
  opacity: 0.7;
}

/*SECCION SOBRE NOSOTROS/FOOTER*/

footer {
  background-color: rgb(104, 93, 77);
  bottom: 0px;
  color: brgb(107, 67, 15);
  position: relative;
}

footer h3{
  margin-left: 10px;
  padding: 10px;
}

footer h4{
  padding: 10px;
}

#myBtn {
  background-color: rgb(107, 67, 15); 
  border-radius: 10px;
  border: none;  
  bottom: 20px; 
  color: white; 
  cursor: pointer; 
  display: none; 
  font-size: 18px; 
  height: 40px;
  outline: none; 
  padding: 15px; 
  position: fixed; 
  right: 30px; 
  width: 3%;
  z-index: 99; 
}

#myBtn:hover {
  background-color: rgb(148, 93, 22);
}
