html {
  scroll-padding-top: 70px;
}

.navbar {
  background-color: rgb(223, 171, 75);
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1 !important;
}

.navbar a {
  color: rgb(107, 67, 15);
  display: block;
  float: left;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: #333;
  text-decoration: underline;
}

#logo-header {
  display: inline;
  margin-bottom: 0px;
  margin-left: 10px;
  width: 4%;
}

/* SECCION EXPLICACION*/

#explicacion {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(107, 67, 15);
  text-align: center;
}

#imagen-explicacion{
  width: 30%;
}

/* SECCION CLASES*/

#clases{
  margin-top: 67px;
}

#columna1{
  background-color: rgb(223, 171, 75);
}

#columna2{
  background-color: rgb(185, 136, 71);
}

#columna3 {
  background-color: rgb(155, 107, 52);
}

.column {
  float: left;
  width: 33.33%;
  padding: 80px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: rgb(107, 67, 15);
}

.containerTab {
  padding: 75px;
  color: rgb(107, 67, 15);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row a:hover {
  text-decoration: underline;
}

#b1{
  background-color: rgb(223, 171, 75);
  display: none;
}

#b2{
  background-color: rgb(185, 136, 71);
  display: none;
}

#b3{
  background-color: rgb(155, 107, 52);
  display: none;
}

.closebtn {
  float: right;
  color: rgb(107, 67, 15);
  font-size: 35px;
  cursor: pointer;
  margin-right: 30px;
}

.closebtn a{
  color: rgb(107, 67, 15);
}

#imagen-principiante {
  float: right;
  width: 25%;
  margin-right: 100px;
}

#imagen-intermedio {
  float: right;
  width: 25%;
  margin-right: 100px;
}

#imagen-avanzado {
  float: right;
  width: 25%;
  margin-right: 100px;
}

/*SECCION DOCENTES*/

#nuestros-docentes{
  color: rgb(107, 67, 15);
  margin-right: 10px;
  padding-top: 10px;
  text-align: center;
}

.col {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#nuestros-docentes {
  margin-right: 10px;
}

#yoda {
  width: 100%;
}

#rick {
  width: 100%;
}

#tyrionL {
  width: 100%;
}

#wandaM {
  width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 84%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

#docentes h6{
  color: rgb(107, 67, 15);
  text-align: center;
}

/*SECCION INSCRIPCION*/

#i-pintura {
  position: relative;
  text-align: center;
  color: rgb(107, 67, 15);
}

/*SECCION SOBRE NOSOTROS/FOOTER*/

footer {
  background-color: rgb(104, 93, 77);
  bottom: 0px;
  color: brgb(107, 67, 15);
  position: relative;
}

footer h3{
  margin-left: 10px;
  padding: 10px;
}

footer h4{
  padding: 10px;
}

#myBtn {
  background-color: rgb(107, 67, 15); 
  border-radius: 10px;
  border: none;  
  bottom: 20px; 
  color: white; 
  cursor: pointer; 
  display: none; 
  font-size: 18px; 
  height: 40px;
  outline: none; 
  padding: 15px; 
  position: fixed; 
  right: 30px; 
  width: 3%;
  z-index: 99; 
}

#myBtn:hover {
  background-color: rgb(148, 93, 22);
}
