.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(223, 171, 75);
  z-index: 1 !important;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(107, 67, 15);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  color: #333;
  text-decoration: underline;
}

#logo-header {
  width: 4%;
  display: inline;
  margin-bottom: 0px;
  margin-left: 10px;
}

/*SECCION INSCRIPCION*/

* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  margin-top: 75px;
}

input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: rgb(223, 171, 75);
  color: rgb(107, 67, 15);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
