html{
  scroll-padding-top: 70px;
}

.navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    overflow: hidden;
    background-color: rgb(223, 171, 75);
    z-index: 1!important;
   }
  
  #logo-header{width: 4%; 
    display: inline;
    margin-bottom: 0px;
    margin-left: 10px;
   }
  
  .navbar a {
    float: left;
    display: block;
    color: rgb(107, 67, 15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }
  
  
  .navbar a:hover {
    color: #333;
    text-decoration: underline;
   }

  /*SECCION IMAGENES*/

  * {
    box-sizing: border-box;
  }
  

  .container {
    position: relative;
  }
  

  .mySlides {
    display: none;
  }
  

  .cursor {
    cursor: pointer;
  }
  

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  

  .caption-container {
    text-align: center;
    background-color: rgb(155, 107, 52);
    padding: 2px 16px;
    color: rgb(107, 67, 15);
  }
  
  .row-i:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .column-i {
    float: left;
    width: 16.66%;
  }
  

  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* SECCION CLASES*/

.column {
  float: left;
  width: 33.33%;
  padding: 80px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: rgb(107, 67, 15);
}

.containerTab {
  padding: 75px;
  color: rgb(107, 67, 15);
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.row a:hover {
  text-decoration: underline;
}

.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
  margin-right: 30px;
}

#imagen-principiante{
  float: right;
  width: 25%;
  margin-right: 100px;
}

#imagen-intermedio{
  float: right;
  width: 25%;
  margin-right: 100px;
}

#imagen-avanzado{
  float: right;
  width: 25%;
  margin-right: 100px;
}

/*SECCION DOCENTES*/

.col {
  float: left;
  width: 25%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

#nuestros-docentes{
  margin-right: 10px;
}

#yoda{
  width: 100%;
}

#rick{
  width: 100%;
}

#tyrionL{
  width: 100%;
}

#wandaM{
  width: 100%;
}

* {box-sizing: border-box}

.col {
  position: relative;
  width: 50%;
  max-width: 300px;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 79%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

  /*SECCION INSCRIPCION*/

  #i-pintura {
    position: relative;
    text-align: center;
    color: rgb(107, 67, 15);
  }

  /*SECCION SOBRE NOSOTROS/FOOTER*/

footer{position: relative;
  bottom: 0px;
  background-color: rgb(104, 93, 77);
  color: brgb(107, 67, 15);}
  
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(107, 67, 15); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 3%;
    height: 40px;
  }
  
  #myBtn:hover {
    background-color: rgb(148, 93, 22); /* Add a dark-grey background on hover */
  }